body {
  font-family: Arial,Helvetica;
  font_size: 10pt;
  background: white;
  color: black;
  margin-left: 2%;
  margin-right:2%
}

h1 {
  font-family: Arial,Helvetica;
  color: #c33;
  background: transparent;
  font-weight: bold;
  font-size: large;
  text-decoration: none
}

h2 {
  text-decoration: underline;
  font-family: Arial,Helvetica;
/*  color: #00008b; */
  color: #336699;
  background: transparent;
  font-weight: bold;
  font-size: large;
  text-decoration: underline
}

h2s {
  font-family: Arial,Helvetica;
/*  color: #00008b; */
  color: #336699;
  background: transparent;
  font-weight: bold;
  font-size: large;
}

h3 {
  font-family: Arial,Helvetica;
/*  color: #006400; */
  color: #336699;
  background: transparent;
/*  margin-left: 4%;
  margin-right: 4%; */
  font-size: medium;
  font-weight: bold;
  text-decoration: underline
}

h4 {
  margin-left: 6%;
  margin-right: 6%;
  font-weight: bold
}

h5 {
  margin-left: 6%;
  margin-right: 6%;
  font-weight: bold
}

dl {
  font-family: Arial,Helvetica;
  margin-left: 2%;
  margin-right: 2% 
}

ul, ol, dl, p {
  font-family: Arial,Helvetica;
/*  margin-left: 2%;
  margin-right: 2% */
}

ul ul, table ol, table ul {
  margin-right: 1%
}

pre {
  font-size: 10pt;
/*  margin-left: 10%; */
  white-space: pre
}

table caption {
  font-size: larger;
  font-weight: bolder
}

table p, table dl, ol p, ul p, dl p, blockquote p, .note p, .note ul, .note ol, .note dl, li pre, dd pre {
  margin-left: 0;
  margin-right: 0
}

p.top {
  margin-left: 1%;
  margin-right: 1%
}

blockquote {
  margin-left: 8%;
  margin-right: 8%;
  border: thin ridge #dc143c
}

blockquote pre {
  margin-left: 1%;
  margin-right: 1%
}

dt a {
  font-weight: bold;
  margin-top: .8em
}

a:link {
  color: #00f;
  background: transparent;
}

a:visited {
  color: #800080;
  background: transparent;
}

a:active {
  color: green;
  background: #FFD700
}

.verb {
      font-family: monospace;
      color: blue;
      font-size: 10pt;
      font-weight: bold;
      white-space:nowrap;
}

.verbpre {
      font-family: monospace;
      font-size: 10pt;
      white-space:nowrap;
}

.html {
  color: #000080;
  background: transparent
}

.css {
  color: #800000;
  background: transparent
}

.javascript {
  color: #008000;
  background: transparent
}

.example { margin-left: 10% }

dfn {
  font-style: normal;
  font-weight: bolder
}

var sub { font-style: normal }

.note {
  font-size: 85%;
  margin-left: 10%
}

.SMA {
  color: fuchsia;
  background: transparent;
  font-family: Kids, "Comic Sans MS", Jester
}

.oops {
  font-family: Jester, "Comic Sans MS"
}

.author {
  font-style: italic
}

.copyright {
  font-size: smaller;
  text-align: right;
  clear: right
}

.toolbar {
  text-align: center
}

.toolbar IMG {
  float: right
}

.error {
  color: #DC143C;
  background: transparent;
  text-decoration: none
}

.warning {
  color: #FF4500;
  background: transparent;
  text-decoration: none
}

.error strong {
  color: #DC143C;
  background: #FFD700;
  text-decoration: none
}

.warning strong {
  color: #FF4500;
  background: #FFD700;
  text-decoration: none
}

.warning a:link, .warning a:visited, .warning a:active {
  color: #FF4500;
  background: transparent;
  text-decoration: underline
}

.error a:link, .error a:visited, .error a:active {
  color: #DC143C;
  background: transparent;
  text-decoration: underline
}

.error strong a:link, .error strong a:visited, .error strong a:active {
  color: #DC143C;
  background: #FFD700
}

.warning strong a:link, .warning strong a:visited, .warning strong a:active {
  color: #FF4500;
  background: #FFD700
}

colgroup.entity { text-align: center }

.default { text-decoration: underline; font-style: normal }
.required { font-weight: bold }
td li.transitional, .elements li.transitional {
  font-weight: lighter;
  color: #696969;
  background: transparent
}
td li.frameset, .elements li.frameset {
  font-weight: lighter;
  color: #808080;
  background: transparent
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: solid thin black
}

strong.legal {
  font-weight: normal;
  text-transform: uppercase
}

@media print {
  input#toggler, .toolbar { display: none }
}
