body {
  color: black;
  background-color: white;
  font: normal 10pt Arial sans-serif;
}
h1 {
  text-align: left;
  font-size: 16pt;
}
h2 {
  text-align: left;
  font-size: 14pt;
}
h3 {
  text-align: left;
  font-size: 12pt;
  text-decoration: underline;
}
h4 {
  text-align: left;
  font-size: 12pt;
  border:solid 1px;
  background-color:#444;
  color:#FFF;
}
dd { 
}
pre,code {
  font-family: monospace 
}
a:link    {
  color: #22c;
}
a:visited {color: #22c;
}
a:active  {
  color: #22c;
}
hr {
  height: 1px;
  background-color: #447;
  border: 0px #447 solid;
}
.generic {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  color: #000;
}
.mandatory {
  font-family: monospace;
  font-weight: bold;
  color: #000;
}
.optional {
  font-family: monospace;
  color: #111;
}
.defval:before {
  content : '= ';
}
.defval {
  color: #044;
}
.unit:before {
  content : '[';
}
.unit:after {
  content : ']';
}
.unit {
  font-weight: bold;
  color: #333 ;
  padding: 0.5em;
}
.type:before { 
  content : '<';
}
.type:after {
  content : '>';
}
.type {
  font-style: italic;
}
.comment {
  font-style: italic;
}
.allowed {font-family:monospace;
  color: green
}
.condition {
  font-weight: bold;
  color: red;
}
.variable {
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  color: blue;
}

